* {
  font-size: 18px;
}

tr, td, th {
  background-color: transparent;
}

tbody:hover,
tr.hover,
th.hover,
td.hover,
tr.hoverable:hover {
  background-color: #dedede;
}

tbody:hover tr.light-red {
  background-color: #ffcfd8;
}

.forLevel {
  font-family: consolas;
  font-weight: bolder;
  font-size: larger;
}

.wrapup {
  white-space: pre-wrap;
}

.light-red {
  background-color: #ffe9ed;
}
