<div class="sidebar-container">
  <a (click)="onSideBarClick()" [ngClass]="{ 'd-none': isBigScreen }">
    <ion-icon
      *ngIf="!showSideBar"
      class="menu-icon"
      name="menu-outline">
    </ion-icon>
    <ion-icon
      *ngIf="showSideBar"
      class="menu-icon"
      name="close-outline">
    </ion-icon>
  </a>
  <div class="d-flex justify-content-center mb-2">
    <img src="/assets/283.png" width="233" height="233" alt="" class="img-fluid" [ngClass]="{'d-none': !isBigScreen}">
  </div>
  <div [ngClass]="{ active: showSideBar, sidebar: !isBigScreen }">
    <ngb-accordion
      [closeOthers]="true"
      [destroyOnHide]="false"
      [activeIds]="this.charaListId">
      <ngb-panel cardClass="p-0">
        <ng-template ngbPanelTitle>ShinyColorsDB</ng-template>
        <ng-template ngbPanelContent>
          <div class="list-group">
            <a
              class="text-start list-group-item list-group-item-action w-100 ps-4 bg-light bg-gradient"
              [routerLink]="['/']"
              (click)="onSideBarClick()">
              首頁
            </a>
            <a
              class="text-start list-group-item list-group-item-action w-100 ps-4 bg-light bg-gradient"
              [routerLink]="['/timetable']"
              (click)="onSideBarClick()">
              卡片歷史
            </a>
            <a
              class="text-start list-group-item list-group-item-action w-100 ps-4 bg-light bg-gradient"
              [routerLink]="['/reverselookup']"
              (click)="onSideBarClick()">
              技能反查
            </a>
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel cardClass="p-0" [id]="this.charaListId">
        <ng-template ngbPanelTitle>角色列表</ng-template>
        <ng-template ngbPanelContent>
          <app-charlist
            (idolClicked)="onCharlistClick($event)"
            [isBigScreen]="this.isBigScreen"></app-charlist>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>其他小玩具</ng-template>
        <ng-template ngbPanelContent>
          <div class="list-group">
            <a
              href="https://spine.shinycolors.moe/"
              class="text-start list-group-item list-group-item-action w-100 ps-4 bg-light bg-gradient"
              target="_blank">
              SpineViewer
            </a>
            <a
              href="https://github.com/ShinyColorsDB/ShinyColorsDB-DataSite"
              class="text-start list-group-item list-group-item-action w-100 ps-4 bg-light bg-gradient"
              target="_blank">
              Github
            </a>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
    <!--app-settings></app-settings-->
  </div>
</div>
