<div class="sidebar-container">
  <a (click)="onSideBarClick()" [ngClass]="{ 'd-none': isBigScreen }">
    <ion-icon
      *ngIf="!showSideBar"
      class="menu-icon"
      name="menu-outline"
    ></ion-icon>
    <ion-icon
      *ngIf="showSideBar"
      class="menu-icon"
      name="close-outline"
    ></ion-icon
  ></a>
  <div class="" [ngClass]="{ active: showSideBar, sidebar: !isBigScreen }">
    <ngb-accordion
      [closeOthers]="true"
      [destroyOnHide]="false"
      activeIds="descCharaList"
    >
      <ngb-panel id="descHomepage">
        <ng-template ngbPanelTitle>首頁</ng-template>
        <ng-template ngbPanelContent>
          <button
            class="list-group-item text-start"
            [routerLink]="['/']"
            (click)="onSideBarClick()"
          >
            ShinyColorsDB
          </button>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="descCharaList" cardClass="p-0">
        <ng-template ngbPanelTitle>角色列表</ng-template>
        <ng-template ngbPanelContent>
          <app-charlist
            (idolClicked)="onCharlistClick($event)"
            [isBigScreen]="this.isBigScreen"
          ></app-charlist>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="descSpineViewer">
        <ng-template ngbPanelTitle>其他小玩具</ng-template>
        <ng-template ngbPanelContent>
          <button
            class="list-group-item text-start"
            (click)="this.toSpineViewer()"
          >
            SpineViewer
          </button>

        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
