::ng-deep .accordion .accordion-item #descCharaList .accordion-body {
    padding: 0;
}

::ng-deep .accordion .accordion-item {
    border: 0;
}

::ng-deep .accordion .accordion-item #descCharaList .accordion-body .accordion .accordion-item {
    border-left: 0;
    border-right: 0;
    border-top: 1px solid #e0e0e0;
}

::ng-deep div.list-group .list-group-item {
    border-left: 0;
    border-right: 0;
    border-top: 1px, solid, #383837;
}