.menu-icon {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

h1 {
  font-family: 'Noto Sans JP', sans-serif;
}

* {
  font-family: LineGothic;
}

/*button button:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
  */