* {
  font-size: 18px;
}

::ng-deep h3 {
  margin: 0;
}

::ng-deep .popover-body {
  padding-left: 10px;
  padding-right: 10px;
}

.forCurser:hover {
  cursor: pointer;
}

tbody:hover,
tr.hover,
th.hover,
td.hover,
tr.hoverable:hover {
  background-color: #CCC;
}

.wrapup{
  white-space: pre-wrap;
}

.forPopup {
  font-family: lineGothic;
  font-size: 18px;
}
