<table class="table h-50">
  <thead>
    <tr>
      <th>#</th>
      <th>技能</th>
    </tr>
  </thead>
  <tbody *ngFor="let slot of this.panelInfo; let i= index">
    <tr [ngClass]="{ 'bg-warning': i == this.highlited }"
      [id]="i == this.highlited ? 'scrollMe' : ''"
      [attr.data-index]="i">
      <td rowspan="2" class="align-middle text-center">
        <img
          [src]="
          'https://static.shinycolors.moe/pictures/skillIcon/' +
          slot.panelIcon.toString() +
          '.png'
          "
          alt=""
          class="img-fluid"
          />
        <span *ngIf="slot.panelReleaseEvolution" class="d-block"> ☆{{slot.panelReleaseEvolution}}</span>
      </td>
      <td class="align-middle">
        <div class="align-middle d-inline">
          <span class="wrapup">{{ slot.skillTitle }}</span>
          <span *ngIf="slot.panelReleaseEvolution"> (☆{{slot.panelReleaseEvolution}})</span>
        </div>
        <ng-container *ngIf="slot.linkSkillId">
          <img src="https://static.shinycolors.moe/pictures/linkIcon/ui/link_skill_button.png"
            alt="" [ngbPopover]="linkPop" popoverTitle="リンクアピール" placement="left" class="forCurser float-end align-middle img-fluid d-inline">
          <ng-template #linkPop>
            <div>
              <img *ngFor="let link of slot.linkWith.split(',')" class="img-fluid d-inline" alt=""
                [src]="'https://static.shinycolors.moe/pictures/linkIcon/idols/1020' + link.padStart(2,0) + '0010.png'"
                width="50px" height="50px">
            </div>
            <div class="pt-1">
              <span class="wrapup">{{ slot.linkSkillDesc }}</span>
            </div>
          </ng-template>
        </ng-container>
        <ng-container *ngIf="slot.plusSkillId">
          <img src="https://static.shinycolors.moe/pictures/linkIcon/ui/plus_skill_button.png"
            alt="" [ngbPopover]="plusPop" popoverTitle="プラスアピール" placement="left" class="forCurser float-end align-middle img-fluid">
          <ng-template #plusPop>
            <div>
              <span class="wrapup">{{ this.addPlusRule(slot.plusSkillDesc) }}</span>
            </div>
          </ng-template>
        </ng-container>
      </td>
    </tr>
    <tr [ngClass]="{ 'bg-warning': i == this.highlited }">
      <td>
        <span class="wrapup">{{ this.addLineBreak(slot.skillDesc) }}</span>
      </td>
    </tr>
  </tbody>
</table>
