<div class="row m-0 p-0 w-100">
  <div class="col-4 ps-0 pe-0">
    <table class="table table-hover">
      <thead>
        <tr>
          <th colspan="2" i18n="@@aptitudeType_music">樂曲適性</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td i18n="@@aptitude_cute">キュート</td>
          <td>{{ this.getAttribute("cute") }}</td>
        </tr>
        <tr>
          <td i18n="@@aptitude_cool">クール</td>
          <td>{{ this.getAttribute("cool") }}</td>
        </tr>
        <tr>
          <td i18n="@@aptitude_positive">ポジティブ</td>
          <td>{{ this.getAttribute("positive") }}</td>
        </tr>
        <tr>
          <td i18n="@@aptitude_relax">リラックス</td>
          <td>{{ this.getAttribute("relax") }}</td>
        </tr>
        <tr>
          <td i18n="@@aptitude_emotional">エモーショナル</td>
          <td>{{ this.getAttribute("emotional") }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4 ps-0 pe-0">
    <table class="table table-hover">
      <thead>
        <tr>
          <th colspan="2" i18n="@@aptitudeType_expression">表現適性</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td i18n="@@aptitude_highPace">ハイペース</td>
          <td>{{ this.getAttribute("high") }}</td>
        </tr>
        <tr>
          <td i18n="@@aptitude_mediumPace">ミドルペース</td>
          <td>{{ this.getAttribute("medium") }}</td>
        </tr>
        <tr>
          <td i18n="@@aptitude_slowPace">スローペース</td>
          <td>{{ this.getAttribute("slow") }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4 ps-0 pe-0">
    <table class="table table-hover">
      <thead>
        <tr>
          <th colspan="2" i18n="@@aptitudeType_environment">環境適性</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td i18n="@@aptitude_fine">快晴</td>
          <td>{{ this.getAttribute("fine") }}</td>
        </tr>
        <tr>
          <td i18n="@@aptitude_sunny">晴れ</td>
          <td>{{ this.getAttribute("sunny") }}</td>
        </tr>
        <tr>
          <td i18n="@@aptitude_cloudy">くもり</td>
          <td>{{ this.getAttribute("cloudy") }}</td>
        </tr>
        <tr>
          <td i18n="@@aptitude_rain">雨</td>
          <td>{{ this.getAttribute("rain") }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>