<div class="card ps-0 pe-0 mt-3">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a
                    href="javascript: void()"
                    class="nav-link"
                    (click)="changeDisplay(0);"
                    [ngClass]="{ disabled: this.overview, active: this.overview }">
                    概觀
                </a>
            </li>
            <li class="nav-item">
                <a
                    href="javascript: void()"
                    class="nav-link"
                    (click)="changeDisplay(1);"
                    [ngClass]="{ disabled: this.limited, active: this.limited }">
                    限定
                </a>
            </li>
            <li class="nav-item">
                <a
                    href="javascript: void()"
                    class="nav-link"
                    (click)="changeDisplay(2);"
                    [ngClass]="{ disabled: this.general, active: this.general }">
                    通常
                </a>
            </li>
        </ul>
    </div>
    <div class="card-body d-flex h-auto overflow-auto container justify-content-center">
        <div class="row justify-content-center container" [ngClass]="{ 'd-none': !this.overview }">
            <div>概觀</div>
            <div class="col-lg-6 col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>距今</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let card of this.allTimetable.produce">
                            <td>{{ card.cardName }}</td>
                            <td>{{ this.timeDuration(card.releaseDate) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6 col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>距今</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let card of this.allTimetable.support">
                            <td>{{ card.cardName }}</td>
                            <td>{{ this.timeDuration(card.releaseDate) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-center container" [ngClass]="{ 'd-none': !this.limited }">
            <div>限定</div>
            <div class="col-lg-6 col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>距今</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let card of this.limitedTimetable.produce">
                            <td>{{ card.cardName }}</td>
                            <td>{{ this.timeDuration(card.releaseDate) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6 col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>距今</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let card of this.limitedTimetable.support">
                            <td>{{ card.cardName }}</td>
                            <td>{{ this.timeDuration(card.releaseDate) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-center container" [ngClass]="{ 'd-none': !this.general }">
            <div>常駐</div>
            <div class="col-lg-6 col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>距今</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let card of this.generalTimetable.produce">
                            <td>{{ card.cardName }}</td>
                            <td>{{ this.timeDuration(card.releaseDate) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6 col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>距今</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let card of this.generalTimetable.support">
                            <td>{{ card.cardName }}</td>
                            <td>{{ this.timeDuration(card.releaseDate) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
