<div class="row overflow-auto w-100 h-100">
  <div class="col-12 container-fluid overflow-auto">
    <div class="d-flex justify-content-center">
      <h2 class="m-2 text-center">
        最新更新
      </h2>
    </div>
    <div class="d-flex container-fluid">
      @if(this.recent) {
      <div class="row">
        @for (card of this.recent; track card) {
        <app-card-item
          [cardInfo]="card"
          [pathType]="card.cardType.startsWith('P') ? '/pcardinfo' : '/scardinfo'"
          [isHome]="true"
          class="col-md-6 col-lg-4 col-xl-3 col-sm-12 p-1"></app-card-item>
        }
      </div>
      }
    </div>
    <div class="d-flex justify-content-center">
      <h2 class="m-2 text-center">
        ＣＤ情報
      </h2>
    </div>
    <div class="d-flex w-75 mx-auto row row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-3 g-2">
      @for(cd of this.cdInfo; track cd) {
      <app-cd-info
        [cdInfo]="cd"></app-cd-info>
      }
    </div>
    <div class="d-flex justify-content-center">
      <h2 class="m-2 text-center">
        演唱會情報
      </h2>
    </div>
    <div class="d-flex row row-cols-sm-1 row-cols-md-2 g-2">
      @for(live of this.liveInfo; track live) {
      <app-live-info
        [liveInfo]="live"></app-live-info>
      }
    </div>
  </div>
</div>
