<div class="card ps-0 pe-0 mt-3">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a
          href="javascript: void()"
          class="nav-link"
          (click)="changeDisplay(0);"
          [ngClass]="{ disabled: this.overview, active: this.overview }">
          概觀
        </a>
      </li>
      <li class="nav-item">
        <a
          href="javascript: void()"
          class="nav-link"
          (click)="changeDisplay(1);"
          [ngClass]="{ disabled: this.limited, active: this.limited }">
          限定
        </a>
      </li>
      <li class="nav-item">
        <a
          href="javascript: void()"
          class="nav-link"
          (click)="changeDisplay(2);"
          [ngClass]="{ disabled: this.general, active: this.general }">
          通常
        </a>
      </li>
    </ul>
  </div>
  <div class="card-body d-flex h-auto overflow-auto container justify-content-center">
    <div class="row justify-content-center container" [ngClass]="{ 'd-none': !this.overview }">
      <div>概覽</div>
      <div class="col-lg-6 col-md-12" *ngIf="this.allTimetable">
        <app-timesubtable
          [table]="this.allTimetable.produce"
          [title]="'Produce'"
          [typeRoute]="'/pcardinfo'"
        >
        </app-timesubtable>
      </div>
      <div class="col-lg-6 col-md-12" *ngIf="this.allTimetable">
        <app-timesubtable
          [table]="this.allTimetable.support"
          [title]="'Support'"
          [typeRoute]="'/scardinfo'"
        >
        </app-timesubtable>
      </div>
    </div>
    <div class="row justify-content-center container" [ngClass]="{ 'd-none': !this.limited }">
      <div>限定</div>
      <div class="col-lg-6 col-md-12" *ngIf="this.limitedTimetable">
        <app-timesubtable
          [table]="this.limitedTimetable.produce"
          [title]="'Produce'"
          [typeRoute]="'/pcardinfo'"
        >
        </app-timesubtable>
      </div>
      <div class="col-lg-6 col-md-12" *ngIf="this.limitedTimetable">
        <app-timesubtable
          [table]="this.limitedTimetable.support"
          [title]="'Support'"
          [typeRoute]="'/scardinfo'"
        >
        </app-timesubtable>
      </div>
    </div>
    <div class="row justify-content-center container" [ngClass]="{ 'd-none': !this.general }">
      <div>常駐</div>
      <div class="col-lg-6 col-md-12" *ngIf="this.generalTimetable">
        <app-timesubtable
          [table]="this.generalTimetable.produce"
          [title]="'Produce'"
          [typeRoute]="'/pcardinfo'"
        >
        </app-timesubtable>
      </div>
      <div class="col-lg-6 col-md-12" *ngIf="this.generalTimetable">
        <app-timesubtable
          [table]="this.generalTimetable.support"
          [title]="'Support'"
          [typeRoute]="'/scardinfo'"
        >
        </app-timesubtable>
      </div>
    </div>
  </div>
</div>
