<div class="row d-flex justify-content-center align-items-start" *ngIf="this.pCardInfo">
  <div class="col-12">
    <h1>{{ this.pCardInfo.cardName }}</h1>
  </div>

  <div class="col-lg-6 col-md-12 row p-1 d-flex">
    <app-pic-carousel
      [img1]="this.pCardInfo.bigPic1"
      [img2]="this.pCardInfo.bigPic2"
      [idolId]="this.pCardInfo.enzaId"
      [displayMov1]="this.isSsrCard() && !this.isIdolRoad()"
      [displayMov2]="this.isSsrCard() || this.isSrCard()">
    </app-pic-carousel>
    <div class="container col-12 pt-3 row m-0">
      <div class="col-lg-4 col-md-12" style="font-family: Meiryo">
        實裝日期: {{ this.pCardInfo.releaseDate }}
      </div>
      <div class="col-lg-4 col-md-12" style="font-family: Meiryo">
        取得方式: {{ this.translateGetMethod() }}
      </div>
      <div class="col-lg-4 col-md-12" style="font-family: Meiryo">
        稀有度 : {{ this.pCardInfo.cardType }}
      </div>

      <div class="col-lg-6 col-md-12">
        <table class="table table-hover ">
          <thead>
            <tr>
              <th scope="col">事件名稱</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of this.getIdolEvents()">
              <td>
                <a
                  [href]="
                  'https://event.shinycolors.moe/?eventId=' + event.eventId
                  "
                  target="_blank">{{ event.eventTitle }}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-6 col-md-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">True End</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of this.getTrueEnd()">
              <td>
                <a
                  [href]="
                  'https://event.shinycolors.moe/?eventId=' + event.eventId
                  "
                  target="_blank">{{ event.eventTitle }}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12">
        <app-aptitude [apts]="this.pCardInfo.cardProduceAptitudes"></app-aptitude>
      </div>
      <div class="col-12">
        <app-memory-table [memoryList]="this.getMemoryAppeal()"></app-memory-table>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 row p-1 d-flex">
    <app-panel-info
      class="col-12"
      [panelInfo]="this.pCardInfo.cardPanels"
      [isSr]="this.isSrCard()"
      (stateChanged)="updateState($event)"></app-panel-info>
    <div class="container col-12 pt-3 w-100 row m-0">
      <app-panel-list
        class="col-12"
        [panelInfo]="this.pCardInfo.cardPanels"
        [highlited]="this.highlight"></app-panel-list>
    </div>
  </div>
</div>
