<div class="row d-flex justify-content-center" *ngIf="this.pCardInfo">
  <div class="col-12">
    <h1>{{ this.pCardInfo.cardName }}</h1>
  </div>

  <div class="col-lg-6 col-md-12 row d-block p-1">
    <ngb-carousel
      class="col-12"
      [interval]="5000"
    >
      <ng-template ngbSlide (slid)="onSlidingToStatic($event)">
        <div class="d-none static"></div>
        <img
          [src]="
            this.staticUrl +
            '/pictures/bigPic/' +
            this.pCardInfo.bigPic1 +
            '.jpg'
          "
          class="img-fluid"
        />
      </ng-template>
      <ng-template ngbSlide *ngIf="this.isSsrCard()" (slid)="onSlidingToMovie($event)">
        <div class="d-none video"></div>
        <video
          class="img-fluid"
          autoplay
          loop
          muted
          [src]="
            'https://viewer.shinycolors.moe/movies/idols/card/' +
            this.pCardInfo.enzaId +
            '.mp4'
          "
          type="video/mp4"
          oncanplay="this.play()"
          onloadedmetadata="this.muted = true"
          (ended)="this.onMovieEnded()"
        ></video>
      </ng-template>
      <ng-template ngbSlide (slid)="onSlidingToStatic($event)">
        <div class="d-none static"></div>
        <img
          [src]="
            this.staticUrl +
            '/pictures/bigPic/' +
            this.pCardInfo.bigPic2 +
            '.jpg'
          "
          class="img-fluid"
        />
      </ng-template>
      <ng-template ngbSlide *ngIf="this.isSsrCard() || this.isSrCard()" (slid)="onSlidingToMovie($event)">
        <div class="d-none video"></div>
        <video
          class="img-fluid"
          autoplay
          loop
          muted
          [src]="
            'https://viewer.shinycolors.moe/movies/idols/card_costume/' +
            this.pCardInfo.enzaId +
            '.mp4'
          "
          type="video/mp4"
          oncanplay="this.play()"
          onloadedmetadata="this.muted = true"
          (ended)="onMovieEnded()"
        ></video>
      </ng-template>
    </ngb-carousel>
    <div class="container col-12 pt-3 row m-0">
      <div class="col-lg-4 col-md-12">
        實裝日期: {{ this.pCardInfo.releaseDate }}
      </div>
      <div class="col-lg-4 col-md-12">
        取得方式: {{ this.translateGetMethod() }}
      </div>
      <div class="col-lg-4 col-md-12">
        稀有度 : {{ this.pCardInfo.cardType }}
      </div>

      <div class="col-lg-6 col-md-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">事件名稱</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of this.getIdolEvents()">
              <td>
                <a
                  [href]="
                    'https://event.shinycolors.moe/?eventId=' + event.eventId
                  "
                  >{{ event.eventTitle }}</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-6 col-md-12 p-2">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">True End</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of this.getTrueEnd()">
              <td>
                <a
                  [href]="
                    'https://event.shinycolors.moe/?eventId=' + event.eventId
                  "
                  >{{ event.eventTitle }}</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12">
        <table class="table table-hover col-12">
          <thead>
            <tr>
              <th scope="col">技能名稱</th>
              <th scope="col">效果</th>
              <th scope="col col-">Link</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let mem of this.getMemoryAppeal()">
              <td>{{ mem.memoryTitle }}</td>
              <td>{{ mem.memoryDesc }}</td>
              <td>{{ mem.linkSkillDesc }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 row p-1">
    <app-panel-info
      class="col-12"
      [panelInfo]="this.pCardInfo.cardPanels"
      [isSr]="this.utilsService.isSrCard(this.pCardInfo.cardType)"
      (stateChanged)="updateState($event)"
    ></app-panel-info>
    <div class="container col-12 pt-3 w-100 row m-0">
      <app-panel-list
        class="col-12"
        [panelInfo]="this.pCardInfo.cardPanels"
        [highlited]="this.highlight"
      ></app-panel-list>
    </div>
  </div>
</div>
