<div class="container">
  <div class="hex-row">
    <div class="hex even">
      <div class="left "></div>
      <div class="middle "></div>
      <div class="right "></div>
    </div>
    <div class="hex">
      <div class="left "></div>
      <div class="middle "></div>
      <div class="right "></div>
    </div>
    <div class="hex even">
      <div class="left "></div>
      <div class="middle "></div>
      <div class="right "></div>
    </div>
  </div>
  <div class="hex-row">
    <div class="hex even">
      <div class="left "></div>
      <div class="middle "></div>
      <div class="right "></div>
    </div>
    <div class="hex">
      <div class="left "></div>
      <div class="middle "></div>
      <div class="right "></div>
    </div>
    <div class="hex even">
      <div class="left "></div>
      <div class="middle "></div>
      <div class="right "></div>
    </div>
    <div class="hex">
      <div class="left "></div>
      <div class="middle "></div>
      <div class="right "></div>
    </div>
    <div class="hex even">
      <div class="left "></div>
      <div class="middle "></div>
      <div class="right "></div>
    </div>
  </div>
  <div class="hex-row">
    <div class="hex even">
      <div class="left "></div>
      <div class="middle "></div>
      <div class="right "></div>
    </div>
    <div class="hex">
      <div class="left "></div>
      <div class="middle "></div>
      <div class="right "></div>
    </div>
    <div class="hex even">
      <div class="left "></div>
      <div class="middle "></div>
      <div class="right "></div>
    </div>
    <div class="hex">
      <div class="left "></div>
      <div class="middle "></div>
      <div class="right "></div>
    </div>
  </div>
  <div class="hex-row">
    <div class="hex even">
        <div class="left"></div>
        <div class="middle"></div>
        <div class="right"></div>
    </div>
    <div class="hex">
      <div class="left "></div>
      <div class="middle "></div>
      <div class="right "></div>
    </div>
  </div>
</div>
