<div class="row d-flex justify-content-around align-items-start" *ngIf="this.sCardInfo">
  <div class="col-12 p-0 d-none d-sm-block">
    <h1>{{ this.sCardInfo.cardName }}</h1>
  </div>

  <div class="col-lg-6 col-md-12 row p-0">
    <img
      [src]="
      this.staticUrl + '/pictures/bigPic/' + this.sCardInfo.bigPic1 + '.jpg'
      "
      [alt]="'Picture of ' + this.sCardInfo.cardName"
      class="img-fluid col-12 p-2" />
    <div class="container col-12 row m-0 p-0 pt-1">
      <app-common-criteria
        [releaseDate]="this.sCardInfo.releaseDate"
        [getMethod]="this.translateGetMethod()"
        [rarity]="this.sCardInfo.cardType"></app-common-criteria>

      <h3
        class="col-12 pt-2"
        *ngIf="this.sCardInfo.cardSupportEvents.length">
        イベント
      </h3>
      <div
        class="col-12 p-2 size18"
        *ngIf="this.sCardInfo.cardSupportEvents.length">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">事件名稱</th>
              <th scope="col">Vo</th>
              <th scope="col">Da</th>
              <th scope="col">Vi</th>
              <th scope="col">Me</th>
              <th scope="col">Sp</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of this.sCardInfo.cardSupportEvents">
              <td><a [href]="'https://event.shinycolors.moe/?eventId=' + event.eventId" target="_blank">{{ event.eventName }}</a></td>
              <td>{{ event.eventAddVo }}</td>
              <td>{{ event.eventAddDa }}</td>
              <td>{{ event.eventAddVi }}</td>
              <td>{{ event.eventAddMe }}</td>
              <td>{{ event.eventAddSp }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <h3>
        ファイトスキル
      </h3>
      <div class="col-12 p-2 size18">
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>{{ this.sCardInfo.cardSupportFightSkills.ftComment }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12 p-2 size18">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>アイデア</th>
              <th>ひらめき</th>
              <th>樂曲熟練度</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img
                  [src]="
                  'https://static.shinycolors.moe/pictures/uiIcons/icon_idea_mark_' +
                  this.sCardInfo.ideaMark +
                  '_lv_1.png'
                  "
                  width="30"
                  height="34"
                  [alt]="'Icon of idea mark ' + this.sCardInfo.ideaMark"
                  class="img-fluid" />
                {{ this.translateIdeaNote() }}
              </td>
              <td>
                <img *ngIf="this.sCardInfo.idol.hirameki != '-'"
                  [src]="
                  'https://static.shinycolors.moe/pictures/uiIcons/produce_inspiration_m_' +
                  this.convertHirameki() +
                  '.png'
                  "
                  [alt]="'Icon of hirameki ' + this.sCardInfo.idol.hirameki"
                  width="30"
                  height="30" />
                {{ this.sCardInfo.idol.hirameki }}
              </td>
              <td>
                <ng-container
                  *ngFor="let p of this.sCardInfo.cardProficiencies">
                  <img
                    [src]="
                    'https://static.shinycolors.moe/pictures/uiIcons/icon_proficiency_' +
                    p.proficiency +
                    '.png'
                    "
                    [alt]="'Icon of proficiency ' + p.proficiency"
                    width="30"
                    height="30" />
                  {{ this.translateProficiency(p.proficiency) }}
                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <h3 class="pb-2">
        サポートスキル
      </h3>
      <app-supskill-card
        [rarity]="this.sCardInfo.cardType"
        [supskills]="this.sCardInfo.cardSupportSkills">
      </app-supskill-card>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 row p-0">
    <app-panel-info
      class="col-12 noFontSize p-2"
      [panelInfo]="this.sCardInfo.cardPanels"
      [isSr]="this.isSrCard()"
      (stateChanged)="updateState($event)"></app-panel-info>
    <div class="container col-12 pt-2 row m-0 p-0">
      <app-panel-list
        [panelInfo]="this.sCardInfo.cardPanels"
        [highlited]="this.highlight"></app-panel-list>
    </div>
  </div>
</div>
