/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}

div {
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    border-radius: 100px;
}

@font-face {
    font-family: LineGothic;
    src: url("/assets/LINESeedJP_OTF_Bd.woff2") format("woff2");
}

.lineGothic {
    font-family: LineGothic;
}